h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html, body{
 font-family: 'Microsoft YaHei', sans-serif;;
   font-size: 100%;
   background:#fff; 
}
a,li, span, div, img {
  text-decoration: none;
}
/*--header start here--*/
@media (max-width: 1204px){
  .container {
      padding: 0;
  }
}
/*----responsive-menu-start---*/
span.navmobile{display: none}
ul.mainnav {
  font-size: 0;
  position: relative;
  padding: 0;
  width: 1000px;
  margin: 0 auto;
  user-select: none;
}
 
ul.mainnav li {
  display: inline-block;
  width: 160px;
  font-size: 16px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
ul.mainnav li:first-child {
  width: 200px;
}
ul.mainnav li .logo{
  background: url("../images/logo.png") no-repeat;
  background-size: 100%;
  width: 160px;
  height: 40px;
  margin: 10px 20px;
}
ul.mainnav li a{
  color: #333333;
  text-decoration: none;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
ul.mainnav li a:hover, ul.mainnav li a.active {
  background: #53245a;
  color: #ffffff;
  cursor: pointer;
}
ul.mainnav li:first-child a:hover >.logo, ul.mainnav li:first-child a.active > .logo{
  background: url("../images/logo_white.png") no-repeat;
  background-size: 100%;
}
ul.mainnav .ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}
 
ul.mainnav .rippleEffect {
  -webkit-animation: rippleDrop .4s linear;
  animation: rippleDrop .4s linear;
}
 
@-webkit-keyframes 
  rippleDrop {  100% {
   -webkit-transform: scale(2);
   transform: scale(2);
   opacity: 0;
  }
}
@keyframes 
  rippleDrop {  100% {
   -webkit-transform: scale(2);
   transform: scale(2);
   opacity: 0;
  }
}  

@media(max-width:1024px){
  span.navmobile{
    display: block;
    position: fixed;
    right: 20px;
    top: 15px;
    cursor: pointer;
    z-index: 99;
  }
  ul.mainnav{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 98;
    width: 100%;
  }
  ul.mainnav li,ul.mainnav li:first-child{
    float: none;
    width: 100%;
    background: #ffffff;
    line-height: 3em;
  }
  ul.mainnav li:first-child a .logo{
    margin: 10px auto;
  }
}
/*--header end here--*/

/*--top nav end here--*/
/*--banner start here--*/
.banner {
  background: url(../images/banner2.jpg)no-repeat;
  background-size: cover;
  min-height: 600px;
  padding: 13em 0em 0em 0em;
}
.banner-about {
  background: url(../images/story1.jpg)no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
}
.banner2-about {
  background: url(../images/story2.jpg)no-repeat;
  background-size: 100%;
  min-height: 400px;
}
.banner-menu {
  background: url(../images/banner-menu.jpg)no-repeat;
  background-size: 100%;
  min-height: 400px;
}
/*.banner-farm {
  background: url(../images/farm1.jpg)no-repeat;
  background-size: 100%;
  min-height: 450px;
}*/
.banner-farm{
  position: relative;
}
.banner4-farm {
  background: url(../images/farm4.png)no-repeat;
  width: 420px;
  height: 480px;
  position: absolute;
  right: 0;
  top: 40%;
}
.banner-culture {
  background: url(../images/culture1.jpg)no-repeat;
  background-size: cover;
  min-height: 400px;
}
.banner2-culture {
  background: url(../images/culture2.jpg)no-repeat;
  background-size: cover;
  min-height: 400px;
}
.banner3-culture {
  background: url(../images/culture3.jpg)no-repeat;
  background-size: cover;
  min-height: 400px;
}
.banner-contact {
  background: url(../images/contact1.jpg)no-repeat;
  background-size: cover;
  min-height: 500px;
}
.banner-two {
  background: url(../images/veg.jpg)no-repeat;
  background-size: cover;
  min-height: 250px;
}
.banner-main {
  width: 50%;
  margin: 0em auto 0em;
  background: #000000;
  opacity: 0.8;
  padding: 3em 1em 3em 1em;
  text-align:center;
   transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  cursor: pointer;
}
.banner-main:hover {
  background: #53265a;
  opacity: 1;
}
.logo-bannermain{
  margin-bottom: 20px;
}
.banner-main h3 {
  font-size: 2em;
  font-weight: 400;
  color: #fff;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 0.3em;
}
.banner-main p {
  font-size: 0.95em;
  font-weight: 400;
  color: #fff;
  margin: 0.8em 0em 0em 0em;
  line-height: 1.8em;
}
.banner-main a {
  font-size: 1em;
  font-weight: 400;
  color: #fff;
  padding: 0.61em 0em 0.61em 0em;
  display: block;
  border-top: 1px solid #fff;
  width: 25%;
  margin: 1em auto 0em;
}
.banner-main a:hover {
  text-decoration:none;
  color:#000;
}
@media (max-width: 1024px){
  .banner-about,.banner2-about,.banner-menu, .banner-farm, .banner2-farm, .banner3-farm{
    height: auto;
    min-height: 200px;
  }
  .banner4-farm{
    width: 200px;
    background-size: 100%;
  }
  .banner2-about{
    background-size: cover;
    min-height: 200px;
    height: 200px;
  }
}
/*--banner end here--*/
/*--bann info start here--*/
.bann-info {
  padding: 3em 0em 3em 0em;
}
.agro-grain {
  width: 70%;
  background: #f4d638;
  padding: 2em 0em;
  border-radius: 62px 0px 60px 0px;
  margin: 1em 0em 0em 0em;
}
span.glyphicon.glyphicon-grain {
  text-align: center;
  font-size: 6em;
  display: block;
  color:#fff;
}
.bann-grid h6 {
  font-size: 1em;
  font-weight: 500;
  color: #956295;
}
.bann-grid h3 {
  font-size: 1.5em;
  font-weight: 500;
  color: #000;
}
.bann-grid p {
  font-size: 0.95em;
  font-weight: 400;
  color: #7C7C7C;
  margin: 0.8em 0em 0em 0em;
  line-height: 1.8em;
}
.bann-grid a {
  font-size: 0.9em;
  font-weight: 400;
  color: #fff;
  padding: 0.5em 0em 0.5em 0em;
  display: block;
  width: 19%;
  background: #53245A;
  text-align: center;
  margin: 0.8em 0em 0em 0em;
}
.bann-grid a:hover {
  text-decoration:none;
  background: #000;
}

/* -- list box --*/
.list-box h3, .list-box p, .list-box .more{
  text-align: center;
}
.list-box h3{
  font-size: 2em;
  line-height: 1.5em;
}
.list-box p{
  line-height: 1.5em;
}
.list-box .purple{
  color: #53265a;
}
.list-box .lpurple{
  color: #b392b3;
}
.list-box .more{
  display: block;
  line-height: 3em;
  color: #333;
  text-decoration: none;
}
.list-box .more:hover{
  color: #b392b3;
}

.list-box.home-box1{
  margin: 60px 0 1em 0;
}
.list-box.home-box2{
  background: #f2f2f2;
  padding: 60px 0 30px 0;
}
.list-box.home-box3{
  padding-top: 20px;
  background: #f2f2f2;
}

/* -- list box --*/

/* -- home ul1 --*/
.home-ul1{
  list-style: none;
  overflow: hidden;
  margin-top: 20px;
  margin: 3em 0 0;
  padding: 0;
}
.home-ul1 li{
  float: left;
  width: 25%;
  overflow: hidden;
  cursor: pointer;
  max-height: 300px;
}
.home-ul1 li:first-child{
  max-height: 600px;
}
.home-ul1 li img{
  width: 100%;
  height: 100%;
  -webkit-transition:all 3s; 
  -moz-transition:all 3s; 
  -o-transition:all 3s;
}
.home-ul1 li img:hover{
  -webkit-transform:scale(1.5) rotate(0deg); 
  -moz-transform:scale(1.5) rotate(0deg); 
  -o-transform:scale(1.5) rotate(0deg); 
}
.home-ul1 li:last-child{
  width: 50%;
}
@media (max-width: 1366px){
  .home-ul1 li{
    max-height: 200px;
  }
  .home-ul1 li:first-child{
    max-height: 400px;
  }
}
@media (max-width: 768px){
  .home-ul1 li{
    max-height: 150px;
  }
  .home-ul1 li:first-child{
    max-height: 300px;
  }
}
/* -- home ul1 end--*/
/* -- home ul12 --*/
.home-ul2{
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 30px 0;
}
.home-ul2 li{
  display: inline-block;
  width: 33%;
  padding: 0 3%;
}
.home-ul2 li img{
  width: 100%;
  height: auto;
}
.home-ul2 h3{
  line-height: 3em;
  margin-top: 10px;
}
.home-ul2 p{
  text-align: left;
  margin-bottom: 20px;
}
.home-ul2 .more{
  float: right;
}
@media (max-width: 1204px){
  .home-ul2 li{
    width: 30%;
  }
}
/* -- home ul2 end--*/

/* -- contact ul11 --*/
.contact-ul1{
  list-style: none;
  overflow: hidden;
  padding: 40px 0 0 0;
  margin: 0;
  background: #f2f2f2;
}
.contact-ul1 li{
  width: 50%;
  overflow: hidden;
}
.contact-ul1 li.fl{
  float: left;
}
.contact-ul1 li.fr{
  float: right;
}

@media(max-width:1024px){
  .contact-ul1 li{
    float: none;
    width: 100%;
  }
}
.contact-ul1 li.loc-text{
  padding: 10% 10% 0 10%;
}
/*.contact-ul1 li.loc1{
  background-image: url(../images/home-loc1-bg.jpg);
  background-position: bottom;
}*/
.contact-ul1 li.loc-img1{
  background-image: url(../images/map1.jpg);
  background-position: center;
  background-size: cover;
  height: 700px;
}
.contact-ul1 li.loc-img2{
  background-image: url(../images/map2.jpg);
  background-position: center;
  background-size: cover;
  height: 700px;
}
.contact-ul1 h3{
  text-align: left;
}
.contact-ul1 p{
  text-align: left;
  margin-bottom: 20px;
}
@media (max-width: 1024px){
  .contact-ul1{
    margin: 0 auto;
  }
  .contact-ul1 li.loc-text{
    padding: 2em 0 2em 20px;
  }
}
/* -- contact ul11 end--*/
/* -- home ul13 --*/
.home-ul3{
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.home-ul3 li{
  float: left;
  width: 50%;
}
.home-ul3 li.loc-text{
  padding: 10% 10% 0 10%;
}
.home-ul3 li.loc1{
  background-img: url(../images/home_loc1-bg.jpg);
  background-position: bottom;
}
.home-ul3 li.loc2 {
  float: right;
}
.home-ul3 li.loc-img img{
  width: 100%;
  padding: 0;
}
.home-ul3 li img{
  width: 100%;
  height: auto;
}
.home-ul3 h3{
  text-align: left;
}
.home-ul3 p{
  text-align: left;
  margin-bottom: 20px;
}
@media (max-width: 700px){
  .home-ul3 li{
    float: none;
    width: 100%;
  }
}
/* -- home ul3 end--*/

/* -- about ul1 --*/
.about-box1,.about-box2{
  padding: 5em 0;
  text-align: center;
}
.about-box1 h3,.about-box2 h3{
  line-height: 3em;
}
.about-box1 h3{
  color: #53265a;
}
.about-box2 h3{
  color: #956295;
}
.about-box1 p,.about-box2 p{
  line-height: 1.5em;
  margin: 0 auto;
}
.about-box2{
  background: #0e0e12;
}
.about-box1 p{
  color: #333333;
}
.about-box2 p{
  color: #ffffff;
}
.about-ul1{
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.about-ul1 li{
  float: left;
  width: 50%;
  max-height: 400px;
  overflow: hidden;
}
.about-ul1 li img{
  width: 100%
}
@media (max-width: 1024px){
  .about-box1, .about-box2{
    padding: 1em 0 5em 0;
  }
}
/* -- about ul1 end--*/

/* -- culture ul1 --*/
.culture-box1{
  background: #0c0b08;
}
.culture-box2{
  background: #1f1b1c;
}
.culture-box1,.culture-box2{
  padding: 5em 0;
  text-align: center;
}
.culture-box1 h3,.culture-box2 h3{
  color: #956295;
  line-height: 3em;
}
.culture-box1 p,.culture-box2 p{
  color: #ffffff;
  width: 900px;
  line-height: 1.5em;
  margin: 0 auto;
}
@media (max-width: 900px){
  .culture-box1 p,.culture-box2 p{
  width: 100%;
}
}
/* -- culture ul1 end--*/

/*--wedo start here--*/
.we-do {
  padding: 3em 0em 3em 0em;
}
span.glyphicon.glyphicon-leaf,  span.glyphicon.glyphicon-gift, span.glyphicon.glyphicon-thumbs-up{
  font-size: 3.5em;
  color: #A1A1A1;
}
.wedo-grid h3 {
  font-size: 1.5em;
  font-weight: 500;
  color: #956295;
  margin: 0.5em 0em 0.8em 0em;
}
.wedo-grid h4 {
  font-size: 1.2em;
  font-weight: 500;
  color: #f4d638;
  line-height:1.5em;
}
.wedo-grid p {
  font-size: 0.95em;
  font-weight: 400;
  color: #7C7C7C;
  margin: 0.8em 0em 0em 0em;
  line-height: 1.8em;
}
.wedo-grid a {
  font-size: 1em;
  font-weight: 400;
  color: #000;
  padding: 1em 0em 0em 0em;
  display: block;
}
.wedo-grid a:hover {
  text-decoration:none;
}
span.glyphicon.glyphicon-circle-arrow-right {
  font-size: 1.5em;
  color: #956295;
}
span.glyphicon.glyphicon-circle-arrow-right:hover {
  color:#f4d638;
   transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
/*--//wedo--*/
/*--agro strip start here--*/
.agro-strip-farm {
  background: url(../images/home_farm_2.jpg)no-repeat;
  background-size: cover;
  min-height: 300px;
}
.home-farm{
  min-height: 500px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.agro-strip {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background: url(../images/home-farm.jpg)no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 500px;
  -webkit-transition:all 5s; 
  -moz-transition:all 5s; 
  -o-transition:all 5s;
}
.home-farm:hover .agro-strip{
  -webkit-transform:scale(1.5) rotate(0deg); 
  -moz-transform:scale(1.5) rotate(0deg); 
  -o-transform:scale(1.5) rotate(0deg); 
}
.agro-strip-main {
  z-index: 10;
  position: relative;
  text-align: center;
  padding: 10% 0em 0em 0em;
}
.agro-strip-main h3 {
  font-size: 2em;
  line-height: 2.5em;
  font-weight: 500;
  color: #fff;
}
.agro-strip-main p {
  font-size: 0.95em;
  font-weight: 400;
  color: #fff;
  margin: 0.8em auto 0em;
  line-height: 1.8em;
  width: 60%;
}
.agro-strip-main a {
  font-size: 1em;
  font-weight: 400;
  color: #fff;
  padding: 0.51em 0em 0.51em 0em;
  display: block;
  width: 10%;
  margin: 1.5em auto 0em;
  text-decoration:none;
}
.agro-strip-main a:hover {
	color:#b392b3;
}
/*--agro strip end here--*/
/*--latest news start here--*/
.latest-new {
  padding: 3em 0em 3em 0em;
}
.latest-grid p {
  background: #f4d638;
  padding: 0.6em 0.5em 0.6em 0.5em;
  color: #413F3F;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.8em;
    text-align: center
}
@media (max-width: 800px){
  .home-farm:hover .agro-strip{
    -webkit-transform:none; 
    -moz-transform:none;  
    -o-transform:none; 
  }
}
/*--//latest-news--*/
/*--footer start here--*/
.footer {
  padding-bottom: 10px;
  background-color:#202020;
  /* background-image: url("../images/overlay.png"); */
  background-image: url("../images/footer-bg2.jpg");
  background-position: center center;
  background-repeat: repeat;
  background-size: auto;
  border-bottom: 5px solid #53265a;
}
.footer ul{
  list-style: none;
  padding: 0;
}
.footer ul li{
  display: inline-block;
  width: 24%;
  vertical-align: top;
}
.footer ul li h3{
  display: block;
  font-size: 2em;
  margin-top: 30px;
  line-height: 2.5em;
}
.footer ul li h3,.footer ul li p,.footer ul li a{
  color: #ffffff;
}
.footer ul li a{
  line-height: 2em;
}
.footer ul li a:hover{
  text-decoration: none;
  color: #956295;
}
.footer ul li:last-child p{
  writing-mode: vertical-lr;
  margin-bottom: 20px;
}
.footer ul li:last-child p img{
  background: #ffffff;
  padding: 2px;
  border: 1px solid #956295;
  margin: 0 5px;
  width: 100px;
}
.copy-right {
  text-align: center;
  padding: 3em 0em 0em 0em;
}
.copy-right p {
  font-size: 1em;
  font-weight: 400;
  color: #fff;
}
.copy-right p a {
  color: #f4d638;
}
.copy-right p a:hover {
  color: #fff;
  text-decoration: none;
}
.copycode{
  color: #956295;
}
@media (max-width: 800px){
  .footer ul li{
    width: 100%;
    text-align: center;
  }
  .footer ul li:last-child p{
    width: 150px;
    margin: 0 auto;
  }
}
/*--//footer--*/
/*--about start here--*/
.about {
	padding:4em 0em 3em 0em;
	background: url(../images/banner.jpg);
}
.about-left img {
	width: 100%;
}
.about-left h3 {
	font-size: 2em;
	font-weight: 400;
	color: #956295;
	margin: 0px 0px 15px 0px;
}
.about-left h4 {
	font-size: 1.2em;
	font-weight: 400;
	color: #413F3F;
	margin: 0px 0px 5px 0px;
}
.about-left p {
	font-size: 0.95em;
	font-weight: 400;
	 color: #7C7C7C;
     line-height: 1.8em;
	margin: 0px 0px 10px 0px;
}
.team-main h3 {
	font-size: 2.5em;
	font-weight: 500;
	color: #000;
	margin: 0px 0px 12px 13px;
}
.team {
	padding-bottom: 4em;
	background: url(../images/banner.jpg);
}
.about-left ul {
	list-style: none;
	padding:0px;
}
.about-left ul li {
	margin: 10px 0px;
}
.about-left ul li a {
	font-size: 0.95em;
	font-weight: 400;
	color: #000;
	background: url(../images/dot.png)no-repeat;
	padding: 0px 0px 0px 20px;
}
.about-left ul li a:hover{
	text-decoration:none;
	color:#999;
}
.team-grids img {
	width: 100%;
}
.histort {
  padding: 2em 0em 4em 0em;
  text-align:center;
}
.histort h3 {
  font-size: 2.5em;
  font-weight: 400;
  color: #f4d638;
  margin: 0px 0px 15px 0px;
}
.histort p {
  font-size: 0.95em;
  font-weight: 400;
  width: 90%;
  color: #7C7C7C;
  line-height: 1.8em;
  margin: 0 auto 0.5em;
}
/*--about end here--*/
/*--single--*/
.single-grid h4{
	font-size:1.5em;
	margin: 0.7em 0;
	color:#956295;
}
.single-grid h4 a{
	color:#000;
	text-decoration:none;
}
.single-grid h4 a:hover{
	color:#a1cd3d;
}
.single-grid p{
	color: #7c7c7c;
  font-size: 1em;
  line-height: 1.9em;
}
.comments-top h3,.comment-bottom h3{
	font-size:2.5em;
	color:#f4d638;
	 margin-bottom: 0.5em;
}
.single {
  padding: 4em 0;
}
h4.media-heading{
	font-size:1.5em;
	color:#956295;
}
.media-body p{
	color: #7c7c7c;
  font-size: 1em;
  line-height: 1.9em;
}
.comments-top {
  padding: 3em 0;
}
.comment-bottom form{
	width:70%;
}
.comment-bottom input[type="text"],.comment-bottom textarea{
	width: 100%;
	padding: 1em;
	margin: 0.5em 0;
	background:none;
	outline:none;
	  border: 1px solid #A09F9F;
	  font-size:1em;
	  color:#A09F9F;
	-webkit-appearance: none;
}
.comment-bottom textarea{
	resize:none;
	min-height: 180px;
}
.comment-bottom input[type="submit"]{
	width: 11%;
	font-size: 1.1em;
	background:#956295;
	padding: 0.4em 0.8em;
	text-align: center;
	color: #fff;
	border: none;
	outline:none;
	-webkit-appearance: none;
}
.comment-bottom input[type="submit"]:hover{
	background:#f4d638;
	 transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.cal ul {
  padding: 0em;
}
.cal ul li{
	display: inline-block;
}
.cal ul li span{
	color:#7C7C7C;
	font-size:1em;
	margin-right: 1em;
}
.cal ul li a{
	color:#7C7C7C;
	text-decoration:none;
	font-size:1em;
}
i.glyphicon.glyphicon-calendar {
  margin: 0em 0.4em 0em 0em;
}
i.glyphicon.glyphicon-comment {
  margin: 0em 0.4em 0em 0em;
}
/*--single--*/
/*--services start here--*/
.menu-text{
  color: #956295;
  text-align: center;
  padding: 20px 10px;
}
.menu-image{
  width: 100%;
}
.menu-sub{
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
  width: 100%;
}
.menu-sub li{
  display: inline-block;
}
.menu-sub li a{
  display: inline-block;
  padding: 10px 20px;
  line-height: 3em;
  color: #333333;
  text-decoration: none;
  cursor: pointer;
}
.menu-sub li a.active, .menu-sub li a:hover{
  color: #ffffff;
  background: #956295;
}
.menu-sub.scrolling{
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 1140px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.menu-cat{
  width: 100%;
  text-align: center;
  padding: 130px 0;
  background-size: cover;
}
.menu-cat h3{
  font-size: 2em;
  line-height: 2.5em;
  color: #ffffff;
  display: block;
} 
.menu-cat p{
  color: #ffffff;
} 
.menu-cat1{
  background: url("../images/menu-1.jpg");
}
.menu-cat2{
  background: url("../images/menu-2.jpg");
}
.menu-cat3{
  background: url("../images/menu-3.jpg");
}
.menu-cat4{
  background: url("../images/menu-4.jpg");
}
.menu-cat5{
  background: url("../images/menu-5.jpg");
}
.menu-cat6{
  background: url("../images/menu-6.jpg");
}
.menu-cat7{
  background: url("../images/menu-7.jpg");
}
.menu-cat8{
  background: url("../images/menu-8.jpg");
}
.menu-cat9{
  background: url("../images/menu-9.jpg");
}
.menu-list ul{
  padding: 40px 0;
  margin: 0;
  list-style: none;
}
.menu-list ul li{
  display: inline-block;
  width: 33%;
  padding: 25px 3%;
}
.menu-list ul li h3{
  line-height: 2em;
  color: #53265a;
}

@media(max-width:1024px){
  .menu-list ul li{
    display: inline-block;
    width: 48%;
    padding: 25px 3%;
  }
  .menu-sub.scrolling{
    width: 100%;
  }
}

/*--services end here--*/
/*--typo--*/
.page {
  background-color: #fff;
  margin: 4em 0;
}
.page-header h3{
	font-size: 3em;
	color:#000;
	
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: none;
}
.grid1 {
  margin: 1.5em 0 0;
}
ul.nav.nav-pills {
  margin: 1.5em 0 0;
}
.grid2{
	margin: 1em 0 0;
}
h3.typo1 {
    font-size: 2.5em;
  color: #956295;
  text-align: center;
}
/*--//typo--*/
/*--gallery start here--*/
.gallery {
  padding: 4em 0em 3em 0em;
}
.gallery-grid {
  margin: 0em 0em 2em 0em;
}
.gallery-top {
  padding: 0em 0em 3em 0em;
  text-align: center;
}
.gallery-top h3 {
  font-size: 2.5em;
  font-weight: 400;
  color: #956295;
  margin: 0px 0px 15px 0px;
}
.gallery-top p {
  font-size: 0.95em;
  font-weight: 400;
  color: #7C7C7C;
  line-height: 1.8em;
  margin: 0 auto 0em;
  width: 60%;
}
/*--light-box--*/
.project-eff:hover span.rollover1 {
	background:url(../images/Wheat.png) center no-repeat rgba(244, 214, 56, 0.32);
	cursor: pointer;
	height: 253px;
     width: 350px;
	display: block;
	position: absolute;
	z-index: -9999px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.project-eff{
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	position:relative;
}
/*--//gallery end here--*/
/*--contact start here--*/
.map h4 {
  color: #f4d638;
  font-size: 1.7em;
  font-weight: 500;
  margin: 0 0 0.8em 0;
  letter-spacing: 1px;
}
.contact-infom h4 {
  color: #000;
  font-size: 1.7em;
  font-weight: 500;
  margin: 0 0 0.8em 0;
  letter-spacing: 1px;
}
.contact-top h3 {
  font-size: 2.5em;
  font-weight: 400;
  color: #956295;
}
.contact-top p {
  font-size: 0.95em;
  font-weight: 400;
  color: #767575;
  width: 60%;
  margin: 0 auto;
  line-height: 1.8em;
}
.contact-top {
  text-align: center;
  padding: 0em 0em 2em 0em;
}
.map {
  	margin: 2em 0;
}
.map iframe {
  	width: 100%;
  	height: 340px;
  	border: none;
}
.contact-infom p {
  	color: #858d94;
  	margin: 0 0 1.5em 0;
  	text-align: left;
  	font-size: 0.9em;
  	letter-spacing: 1px;
  	line-height: 1.8em;
}
.contact-form {
  	margin: 3em 0;
}
.contact-form input[type="text"] {
	display: inline-block;
	background: none;
	border: 1px solid #A3A1A1;
	width: 32.1%;
	margin: 0 0 1.5em 0;
	outline: none;
	font-size: 0.95em;
	color: #747577;
	font-weight: 400;
	padding: 10px 15px 10px 15px;
}
.contact-form input[type="email"] {
	display: inline-block;
	background: none;
	border: 1px solid #A3A1A1;
	width: 32.5%;
	margin: 0 1em 1em 1em;
	outline: none;
	font-size: 0.9em;
	color: #747577;
	font-weight: 400;
	padding: 10px 15px 10px 15px;
}
.contact-form textarea {
	background: none;
	border: 1px solid #A3A1A1;
	width: 100%;
	display: block;
	height: 150px;
	outline: none;
	font-size: 0.9em;
	color: #747577;
	font-weight: 400;
	resize: none;
	padding: 10px 15px 10px 15px;
}
.contact-form input[type="submit"]{
	background: #f4d638;
	border: 1px solid #f4d638;
	padding: .6em 0;
	width: 14%;
	margin-top: 2em;
	font-size: 16px;
	color: #fff;
	font-weight: 400;
	letter-spacing: 1px;
	outline: none;
	transition: .5s all;
}
.contact-form input[type="submit"]:hover{
	color: #956295;
	border: 1px solid #956295;
  background: none;
}
.contact {
  padding: 4em 0em 1em 0em;
}
/*--//contact--*/
@media(max-width:1440px){
	
}
@media(max-width:1366px){
.banner {
  min-height: 585px;
  padding: 10em 0em 0em 0em;
}
}
@media(max-width:1280px){
	
}
@media(max-width:1024px){
.banner {
  min-height: 500px;
}
.banner-main {
  padding: 2em 1em 2em 1em;	
}
.agro-grain {
  width: 90%;
}
.wedo-grid h3 {
  font-size: 1.4em;
}
.wedo-grid h4 {
  font-size: 1em;
}
.about-left h3 {
  font-size: 1.7em;
}
.about-left h4 {
  font-size: 1em;
}
.about-left p {
  font-size: 0.9em;
  line-height: 1.6em;
  margin: 0px 0px 0px 0px;
}
.about-left ul li {
  margin: 5px 0px;
}
.about-left ul li a {
  font-size: 0.8em;
}
.histort {
  padding: 1em 0em 3em 0em;
}
.histort h3 {
  font-size: 2.2em;
}
.team-main h3 {
  font-size: 2.2em;
}
.main-serv-grid h4 {
  font-size: 1em;
}
.bann-grid a,.agro-strip-main a,.ser-btn a {
  width: 100%;
}
.project-eff:hover span.rollover1 {
  height: 205px;
  width: 283px;
}
.contact-form input[type="email"] {
  margin: 0 0.75em 1em 0.75em;
}
.ftr-grd h3 {
  font-size: 1.8em;
}
}
@media(max-width:768px){
span.menu{
		display: block;
		text-align: center;
		padding: 0px 0px 0px 0px;
		cursor: pointer;
		color: #E74C3C;
		font-size: 16px;
		font-weight: 700;
		position:relative;
}
.top-navg ul.res{
	 display:none;
	 padding:0px;
}
.top-navg ul.res {
		padding: 0;
		margin: 0.3em 0em 0em 0em;
		z-index: 9999;
		position: absolute;
		width: 100%;
		left:0;
}
.top-navg ul.res li{
		display: block;
		text-align: center;
		background:#f4d638;
		margin: 0;
	    width: 100%;
		padding: 0em;
}
.top-navg ul.res li:first-child{
  display: none;
}
.top-navg ul.res li a {
		font-size: 16px;
		padding: 0.6em 0;
		color: #fff;
		display: block;
		border: none;
        text-align: center;
        margin: 0em;
}
ul.res li a:hover,ul.res li a.active{
	color:#000;
}
.top-navg {
  padding: 1em 0em 1em 0em;
}
.banner {
  min-height: 350px;
  padding: 5em 0em 0em 0em;s
}
.banner-main {
  padding: 1.5em 1em 1.5em 1em;
  width: 65%;
}
.banner-main h3 {
  font-size: 1.7em;
  padding-bottom: 0em;
}
.bann-grid img {
  width: 50%;
  margin: 2em auto 0em;
}
.agro-grain {
  width: 21%;
  margin: 0em auto 3em;
}
.bann-grid {
  text-align: center;
}
.bann-grid a {
  width: 22%;
  margin: 0.6em auto 0em;
}
.bann-grid img {
  width: 50%;
  margin: 2em auto 0em;
}
span.glyphicon.glyphicon-grain {
  font-size: 4em;
}
.bann-grid a {
  width: 15%;
}
.wedo-grid {
  text-align: center;
  margin: 0em 0em 2em 0em;
}
.wedo-grid h3 {
  margin: 0em 0em 0.15em 0em;
}
.wedo-grid p {
  margin: 0em 0em 0em 0em;
}
.wedo-grid h4 {
  margin: 0.3em 0em 0.2em 0em;
}
.wedo-grid a {
  padding: 0.5em 0em 0em 0em;
}
.we-do {
  padding: 0em 0em 1em 0em;
}
.agro-strip-main a {
  width: 14%;
}
.latest-grid {
  float: left;
  width: 50%;
  margin: 0em 0em 2em 0em;
}
.latest-new {
  padding: 3em 0em 1em 0em;
}
.ftr-grd {
  float: left;
  width: 33.1%;
}
.ftr-grd h3 {
  font-size: 1.45em;
}
.ftr-grd p {
  font-size: 0.9em;
}
.ftr-grd input[type="submit"] {
  font-size: 0.9em;
  padding: 0.4em 1em 0.4em 1em;
}
.agro-strip-main a {
  font-size: 0.9em;
}
.banner-two {
  min-height: 180px;
}
.agro-strip-main {
  padding: 3.5em 0em 0em 0em;
}
/*--about--*/
.about-left img {
  width: 45%;
  margin: 0 auto;
  text-align: center;
}
.about-left {
  text-align: center;
  margin: 0em 0em 1.5em 0em;
}
.about {
  padding: 2em 0em 0em 0em;
}
.about-left p {
  margin: 0px 0px 14px 0px;
}
.histort h3 {
  font-size: 2em;
}
.team-grids {
  float: left;
  width: 50%;
  margin: 0em 0em 2em 0em;
}
.team-main h3 {
  font-size: 2em;
}
.team {
  padding-bottom:1em;
}
.about-left h3 {
  font-size: 2em;
}
/*--services--*/
.main-serv-grid {
  float: left;
  width: 50%;
  margin: 0em 0em 2em 0em;
}
.ser-btn a {
  width: 30%;
}
.other-serv {
  padding: 1.5em 0em 1em 0em;
}
.other-serv-grid {
  float: left;
  width: 33%;
}
.other-serv-grid h4 {
  font-size: 0.915em;
}
.other-serv-grid p {
  font-size: 0.9em;
  margin: 0em 0em 1.5em 0em;
}
.services {
  padding: 2em 0em 1em 0em;
}
.services-top h3 {
  font-size: 2em;
}
.services-top p {
  width: 75%;
}
.other-serv h3 {
  font-size: 1.7em;
}
/*--typo--*/
.page {
  margin: 2em 0;
}
h3.typo1 {
  font-size: 2em;
}
h1.grid2 {
  font-size: 2.3em;
}	
.contact-bottom input[type="text"] {
  padding: 0.5em;
}	
/*--single--*/
.comment-bottom input[type="submit"] {
  width: 13%;
}
.comments-top h3, .comment-bottom h3 {
  font-size: 2em;
}
/*--gallery--*/
.gallery-grid {
  float: left;
  width: 33.2%;
}
.project-eff:hover span.rollover1 {
  height: 151px;
  width: 210px;
}
.gallery {
  padding: 2em 0em 1em 0em;
}
.gallery-top h3 {
  font-size: 2em;
}
.gallery-top p {
  width: 75%;
}
/*--contact--*/
.contact {
  padding: 2em 0em 0em 0em;
}
.contact-top h3 {
  font-size: 2em;
}
.map iframe {
  height: 250px;
}
.contact-form input[type="email"] {
  margin: 0 0.52em 1em 0.52em;
}
}
@media(max-width:640px){
.banner-main {
  width: 70%;
}
.agro-grain {
  width: 25%;
}
.agro-strip-main p {
  font-size: 0.9em;
  width: 100%;
}
.agro-strip {
  min-height: 265px;
}
.agro-strip-main a {
  width: 16%;
}
.ftr-grd {
  float: none;
  width: 100%;
  margin: 0em 0em 1.5em 0em;
}
.copy-right {
  padding: 1em 0em 0em 0em;
}
.footer {
  padding: 2em 0em;
}
.banner-main h3 {
  font-size: 1.5em;
}
.banner-main a {
  font-size: 0.9em;
  width: 27%;
}
.banner-main p {
  font-size: 0.9em;
}
.search {
  text-align: center;
}
.banner-two {
  min-height: 140px;
}
.header-right {
  width: 60%;
}
.search {
  width: 35%;
}
.head-left {
  width: 40%;
}
/*--services--*/
.main-serv-grid {
  width: 49%;
}
.ser-btn a {
  width: 35%;
}
.ser-btn a {
  font-size: 0.85em;
  padding: 0.5em 0em;
}
.services-top p {
  width: 100%;
}
/*--typo--*/
button.btn.btn-lg {
  font-size: 1.1em;
}
h1.grid2 {
  font-size: 2em;
}
h2.grid2 {
  font-size: 1.9em;
}
h3.typo1 {
  font-size: 2.5em;
}
.page {
  margin: 2em 0;
}	
/*--single--*/
.comments-top h3, .comment-bottom h3 {
  font-size: 2em;
}
.comment-bottom input[type="submit"] {
  width: 17%;
}
.single {
  padding: 3em 0;
}
/*--gallery--*/
.gallery-grid {
  padding: 0px 10px 0px 0px;
  margin: 0em 0em 1em 0em;
}
.project-eff:hover span.rollover1 {
  height: 135px;
  width: 187px;
}
.gallery-top p {
  width: 100%;
}
.gallery-top {
  padding: 0em 0em 2em 0em;
}
/*--contact--*/
.contact-top p {
  width: 100%;
}
.contact-form input[type="email"] {
  margin: 0 0.3em 1em 0.3em;
}
}
@media(max-width:480px){
span.ph-numb {
  font-size: 0.85em;
}
.head-left p {
  font-size: 0.8em;
}
.search {
  width: 40%;
  margin-top: 0.4em;
}
.logo h1 {
  font-size: 2.2em;
}
span.menu img {
  width: 6%;
}
.top-navg ul.res li a {
  font-size: 14px;
  padding: 0.5em 0;
}
#loginContainer a span {
  padding: 4px 18px;
  font-size: 1em;
}
.banner-main h3 {
  font-size: 1.3em;
}
.banner {
  min-height: 245px;
  padding: 3em 0em 0em 0em;
}
.banner-main p {
  font-size: 0.8em;
    margin: 0.3em 0em 0em 0em;
}
.banner-main {
  padding: 1em 1em 1em 1em;
  width: 80%;
}
.banner-main a {
  font-size: 0.8em;
  margin: 0.5em auto 0em;
}
.agro-grain {
  width: 31%;
  margin: 0em auto 2em;
}
span.glyphicon.glyphicon-grain {
  font-size: 3.5em;
}
.bann-info {
  padding: 2em 0em 2em 0em;
}
.bann-grid a {
  width: 22%;
  font-size: 0.8em;
}
.bann-grid img {
  width: 85%;
}
.wedo-grid p {
  font-size: 0.9em;
}
.agro-strip-main h3 {
  font-size: 1.19em;
}
.agro-strip-main p {
  font-size: 0.8em;
}
.agro-strip-main a {
  width: 20%;
  font-size: 0.8em;
}
.agro-strip-main {
  padding: 2.5em 0em 0em 0em;
}
.agro-strip {
  min-height: 240px;
}
.latest-grid p {
  font-size: 0.9em;
  line-height: 1.5em;
}
.copy-right p {
  font-size: 0.9em;
}
.bann-grid p {
  font-size: 0.85em;
}
.latest-new {
  padding: 2em 0em 0em 0em;
}
.banner-two {
  min-height: 110px;
}
.phone {
  width: 55%;
}
/*--about--*/
.about-left img {
  width: 85%;
}
/*--services--*/
.services-top p {
  font-size: 0.85em;
}
.services-top {
  padding: 0em 0em 1.5em 0em;
}
.main-serv-grid h4 {
  font-size: 0.95em;
}
.main-serv-grid p {
  font-size: 0.8em;
}
.ser-btn a {
  font-size: 0.8em;
  padding: 0.4em 0em;
  width: 43%;
}
.other-serv {
  padding: 1em 0em 1em 0em;
}
.other-serv-grid {
  float: left;
  width: 100%;
}
.other-serv-grid p {
  margin: 0em 0em 1em 0em;
}
/*--typo--*/
.page-header h3 {
  font-size: 2em; 
}
button.btn.btn-lg {
  font-size: 1em;
  padding: 7px;
}
button.btn.btn-1 {
  font-size: 0.9em;
  padding: 8px;
}
button.btn.btn-sm {
  font-size: 0.8em;
  padding: 9px;
}
h1#h1-bootstrap-heading {
  font-size: 2.2em;
}
h2#h2-bootstrap-heading {
  font-size: 2em;
}
h1.grid2 {
  font-size: 1.45em;
}
h2.grid2 {
  font-size: 1.35em;
}
h3.grid2 {
  font-size: 1.3em;
}
h4.grid2 {
  font-size: 1.2em;
}
h3.typo1 {
  font-size: 2em;
}
.page {
  margin: 2em 0;
}		
/*--single--*/
.single-grid h4 {
  font-size: 1.2em;
}
.comments-top {
  padding: 2em 0;
}
.comment-bottom input[type="submit"] {
  width: 25%;
}
.single {
  padding: 2em 0;
}
.single-grid p {
  font-size: 0.85em;
}
.media-body p {
  font-size: 0.85em;
}
/*--gallery--*/
.gallery-grid {
  width: 50%;
}
.project-eff:hover span.rollover1 {
  height: 150px;
  width: 207px;
}
.gallery-top p {
  font-size: 0.8em;
}
/*--contact--*/
.contact-top {
  padding: 0em 0em 0em 0em;
}
.contact-top p {
  font-size: 0.85em;
}
.contact-form input[type="email"] {
  margin: 0 0em 1em 0em;
  width: 100%;
}
.contact-form input[type="text"] {
  width: 100%;
  margin: 0 0 1em 0;
}
.contact-form input[type="submit"] {
  padding: .4em 0;
  width: 23%;
  font-size: 15px;
}
}
@media(max-width:320px){
#loginForm {
  width: 260px;
}
#loginBox {
  top: 40px;
  right: -14px;
}
#loginContainer a span {
  padding: 4px 10px;
  font-size: 0.85em;
}
.logo h1 {
  font-size: 1.65em;
}
span.ph-numb {
  font-size: 0.85em;
}
.head-left p {
  font-size: 0.65em;
}
.search {
  margin-top: 0em;
}
.top-navg ul.res li a {
  font-size: 13px;
}
span.menu img {
  width: 9%;
}
.top-navg {
  padding: 0.5em 0em 0.5em 0em;
}
.banner-main h3 {
  font-size: 1em;
}
.banner-main a {
  width: 30%;
  padding: 0.61em 0em 0em 0em;
}
.banner-main p {
  font-size: 0.75em;
    line-height: 1.5em;
}
.banner-main {
  width: 95%;
  padding: 0.5em 0.5em 0.5em 0.5em;
}
.banner {
  min-height: 190px;
  padding: 2em 0em 0em 0em;
}
.agro-grain {
  width: 42%;
  margin: 0em auto 1.5em;
}
span.glyphicon.glyphicon-grain {
  font-size: 2.6em;
}
.bann-grid h3 {
  font-size: 1.18em;
}
.bann-grid {
  padding: 0px;
}
.bann-grid a {
  width: 31%;
}
.bann-grid img {
  width: 100%;
  margin: 1.5em auto 0em;
}
.bann-info {
  padding: 2em 0em 1em 0em;
}
.wedo-grid h3 {
  font-size: 1.2em;
}
.wedo-grid {
  padding: 0px;
  margin: 0em 0em 1em 0em;
}
.wedo-grid h4 {
  font-size: 0.95em;
}
.wedo-grid p {
  font-size: 0.8em;
}
span.glyphicon.glyphicon-leaf {
  font-size: 3em;
}
span.glyphicon.glyphicon-user {
  font-size: 3em;
}
span.glyphicon.glyphicon-eye-open {
  font-size: 3em;
}
.agro-strip-main h3 {
  font-size: 1em;
}
.agro-strip-main p {
  font-size: 0.71em;
}
.agro-strip-main a {
  width: 30%;
}
.agro-strip-main {
  padding: 1.5em 0em 0em 0em;
}
.agro-strip {
  min-height: 205px;
}
.latest-grid {
  float:none;
  width: 100%;
  padding: 0px;
  margin: 0em 0em 1em 0em;
}
.latest-grid p {
  font-size: 0.8em;
}
.latest-new {
  padding: 1.5em 0em 0.5em 0em;
}
.ftr-grd {
  padding: 0px;
}
.ftr-grd h3 {
  font-size: 1.1em;
  margin: 0em 0em 0.3em 0em;
}
.footer {
  padding: 1.5em 0em;
}
.ftr-grd {
  margin: 0em 0em 1em 0em;
}
.copy-right {
  padding: 0.5em 0em 0em 0em;
}
.copy-right p {
  font-size: 0.85em;
}
.banner-two {
  min-height: 80px;
}
/*--About--*/
.about-left h3 {
  font-size: 1.5em;
}
.about-left h4 {
  font-size: 0.95em;
}
.about-left p {
  font-size: 0.8em;
}
.about {
  padding: 1em 0em 0em 0em;
}
.about-left {
  padding: 0px;
}
.about-left img {
  width: 100%;
}
.about-left ul li a {
  font-size: 0.8em;
}
.histort {
  padding: 0em 0em 3em 0em;
}
.histort h3 {
  font-size: 1.5em;
  margin: 0px 0px 7px 0px;
}
.histort p {
  font-size: 0.8em;
}
.histort {
  padding: 0em 0em 1em 0em;
}
.team-main h3 {
  font-size: 1.5em;
}
.team-grids {
  margin: 0em 0em 1em 0em;
  padding: 0px 10px 0px 0px;
}
/*--services--*/
.services {
  padding: 1em 0em 1em 0em;
}
.services-top h3 {
  font-size: 1.5em;
  margin:0em 0em 0em 0em ;
}
.services-top p {
  font-size: 0.8em;
}
.main-serv-grid {
  width: 100%;
  padding: 0px;
  margin: 0em 0em 1.5em 0em;
}
.services-top {
  padding: 0em 0em 1em 0em;
}
.ser-btn a {
  width: 30%;
}
.other-serv {
  padding: 0em 0em 0em 0em;
}
.other-serv h3 {
  font-size: 1.2em;
  margin: 0px 0px 10px 0px;
}
.other-serv-grid {
  padding: 0px;
}
.other-serv-grid p {
  font-size: 0.8em;
}
.gallery {
  padding: 1em 0em 1em 0em;
}
/*--typo--*/
h1#h1-bootstrap-heading {
  font-size: 1.5em;
}
h2#h2-bootstrap-heading {
  font-size: 1.4em;
}
h3#h3-bootstrap-heading {
  font-size: 1.3em;
}
button.btn.btn-lg {
  font-size: 0.9em;
  margin: 0 0 0.5em 0px;
  padding: 9px;
}
.grid1 {
  margin: 0.7em 0 0;
}
button.btn.btn-1 {
  font-size: 0.8em;
  margin: 0 0 0.5em;
}
button.btn.btn-sm {
  font-size: 0.7em;
  padding: 5px;
  margin: 0 0 0.5em;
}
button.btn.btn-xs {
  font-size: 0.7em;
}
ul.nav.nav-pills a{
	padding: 0.5em;
  font-size: 0.9em;
}
span.label {
  margin: 0 0 0.5em;
  display: inline-block;
}
.page {
  padding: 0.5em;
   margin: 1.7em 0;
}
.page-header {
  margin: 16px 0 9px;
}
.grid2 {
  margin: 0.4em 0 0;
}
h3.typo1 {
  font-size: 1.7em;
}
.page-header h3 {
  font-size: 1.8em;
} 	
/*--single--*/
.single-grid h4 {
  font-size: 0.8em;
  line-height: 1.7em;
}
.single-grid p ,.media-body p{
  font-size: 0.8em;
  line-height: 1.6em;
}
.comments-top h3, .comment-bottom h3 {
  font-size: 1.5em;
}
h4.media-heading {
  font-size: 1em;
}
.comment-bottom form {
  width: 100%;
}
.comment-bottom input[type="submit"] {
  width: 25%;
  font-size: 0.9em;
}
.comment-bottom textarea {
  min-height: 130px;
}
.comment-bottom input[type="text"], .comment-bottom textarea {
  padding: 0.5em;
  font-size: 0.8em;
}
.comment-bottom textarea {
  min-height: 95px;
}
.comments-top {
  padding: 1em 0;
}
/*--gallery--*/
.gallery-top h3 {
  font-size: 1.5em;
    margin: 0px 0px 5px 0px;
}
.gallery-top {
  padding: 0em 0em 1em 0em;
}
.project-eff:hover span.rollover1 {
  height: 91px;
  width: 127px;
}
/*--contact --*/
.contact-top h3 {
  font-size: 1.5em;
  margin: 0em 0em 0.1em 0em;
}
.contact-top p {
  font-size: 0.8em;
}
.map {
  margin: 1em 0;
}
.contact {
  padding: 1em 0em 0em 0em;
}
.map h4 {
  font-size: 1.1em;
}
.map iframe {
  height: 155px;
}
.contact-infom h4 {
  font-size: 1.2em;
  margin: 0 0 0.2em 0;
}
.contact-infom p {
  font-size: 0.8em;
}
.contact-form {
  margin: 1em 0;
}
.contact-form h4 {
  font-size: 1.2em;
}
.contact-form input[type="text"] {
  font-size: 0.8em;
  padding: 6px 10px 6px 10px;
}
.contact-form input[type="email"] {
  font-size: 0.8em;
  padding: 6px 10px 6px 10px;
}
.contact-form textarea {
  font-size: 0.8em;
    height: 110px;
  padding: 6px 10px 6px 12px;
}
.contact-form input[type="submit"] {
  margin-top: 1em;
}
.contact-form input[type="submit"] {
  width: 30%;
  font-size: 14px;
}
}